.login__screen {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.login__screen--current-user {
    margin-right: 2rem;
}

.login__user--responsive {
    display: none;
    text-align: "center"
}

.contact_layout {
    width: 50% !important;
    margin: 0 auto
}

h2,
p {
    font-size: 1.2rem !important;
}

.registration__form {
    width: 100%;
    margin-top: 1.25rem;
}

label {
    text-align: left !important;
}

.login__screen--current-user {
    text-align: left !important;
}

fieldset {
    margin-bottom: .5rem;
    padding: .5rem 1rem;
    border: $grey_border;
    border-radius: 3px;
}

input {
    width: 100%;
    border: $grey_border;
    border-radius: 3px;
    outline: none;
}

label,
button {
    display: block;
    text-transform: uppercase;
    margin: .5rem 0 .25rem 0;
}

label:first-of-type {
    margin-top: 0;
}

input {
    height: 2rem;
    font-size: 1rem;
    padding-left: .5rem;
}

button {
    padding: 1rem 2rem;
    color: #fff;
    background: #000;
    border-radius: 3px;
    outline: none;
}

@media screen and (min-width: 320px) and (max-width: 800px) {
    .login__screen {
        grid-template-columns: 1fr;
    }

    .login__user--responsive {
        display: block;
        margin-top: 3rem;
    }

    .login__screen--current-user,
    .login__screen--new-user {
        display: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 800px) {
    .contact_layout {
        width: 100% !important;
    }
}

@media screen and (min-width: 801px) and (max-width: 1240px) {
    .contact_layout {
        width: 80% !important;
    }
}