.cart__container {
    position: absolute;
    width: 35%;
    height: 5rem;
    right: 2rem;
    border: 1px solid red;

    &--closeBtn {
        display: flex;
        justify-content: flex-end;
        text-align: right;
        color: green;
    }
}