.cart__container {
    position: absolute;
    width: 35%;
    min-height: 15rem;
    right: 2rem;
    padding: .5rem 1rem;
    border: 2px solid #000;
    background: #fff;
    z-index: 9999;

    .close__btn {
        display: inline-block;
        color: #fff;
        margin-top: .2rem;
        padding: .5rem .75rem;
        text-align: center;
        background: #000;
        cursor: pointer;
    }
}

.cart__content--container {
    text-align: left;

    .cart__content--card {
        margin-bottom: .6rem !important;
        display: flex;


        img {
            display: inline-block;
            width: 40px;
            height: 50px;
            margin-right: .5rem;
        }
    }

    .cart__content--item>div {
        font-size: .85rem;
        margin-bottom: .25rem;

        &>span {
            display: inline-block;
            margin: 0 .35rem;
            width: 1rem;
            height: 0 .5rem;
            text-align: center;
            font-weight: bolder;
            font-size: 1rem;
            border: 1px solid #000;
            cursor: pointer;

            &:hover {
                color: #fff;
                border: 1px solid #fff;
                background: #000;
            }
        }
    }
}